.product-form{
    width: 20rem;
    max-width: 90%;
    margin: autos;
}
.form-control{
    margin: 1rem 0;
}
.form-control label,
.form-control input{
    display: block;
    width: 100%;
}
.form-control input{
    border: 1px solid slategrey;
    font:inherit;
    border-radius: 2px;
}
button{
    font:inherit;
    border: 1px solid black;
    color: olive;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}
button:hover,
button:active{
    background-color: powderblue;
    color: white;
}